<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="../css/admin.css">
</head>
<body>
  <div class="admin-panel-container">
    <h1>Welcome to the Admin Panel</h1>
    <div class="card-container">
      <!-- Student Card with Link -->
      <a href="/admin/studentInfo" class="card" id="student-card">
        <div class="card-content">
          <h2>Students</h2>
          <p>Manage student records and profiles.</p>
        </div>
      </a>
      
      <!-- Admin Card with Link -->
      <a href="/admin/teacher" class="card" id="admin-card">
        <div class="card-content">
          <h2>Teachers</h2>
          <p>Manage Teacher settings and privileges.</p>
        </div>
      </a>
    </div>
  </div>

  <script src="script.js"></script>
</body>
</html>
