<%-include("../partials/header")%>
<div
  class="untree_co-hero inner-page overlay"
  style="background-image: url('images/img-school-5-min.jpg')"
>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h1
              class="mb-4 heading text-white"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              Register Student
            </h1>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.untree_co-hero -->

<div class="untree_co-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div
        class="col-lg-5 mx-auto order-1"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <!-- Corrected form with the proper action and method -->
        <form action="/register/student" method="post" class="form-box">
          <div class="row">
            <div class="col-12 mb-3 text-center">
              <h2 style="font-weight: bold">Enter your Info</h2>
            </div>

            <div class="col-12 mb-3">
              <input
                type="text"
                class="form-control"
                name="name"
                placeholder="Name"
                required
              />
            </div>

            <div class="col-12 mb-3">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Email"
                required
              />
            </div>

            <div class="col-12 mb-3">
              <input
                type="password"
                class="form-control"
                name="password"
                placeholder="Password"
                required
              />
            </div>

            <div class="col-12 mb-3">
              <input
                type="password"
                class="form-control"
                name="retypePassword"
                placeholder="Re-type Password"
                required
              />
            </div>

            <!-- Corrected: Button element to submit the form -->
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /.untree_co-section -->

<%-include("../partials/footer")%>
